{% block javascripts %}
	<script src="{{ asset('js/jquery.js') }}"></script> 
	<script src="{{ asset('js/capture_items.js') }}"></script>
	<script src="{{ asset('js/accueil_commandes_panel.js') }}"></script> 
{% endblock %}


<select onchange="captureCombo(this.value)">

    <optgroup label="Ngazidja">
        {% for valeur, nom in ngazidja %}
            <option value="{{ valeur }}"
                {% if nom == 'Préfecture de:' %}selected{% endif %}
            >
                {{ nom }}
            </option>
        {% endfor %}
    </optgroup>

    <optgroup label="Moheli">
        {% for valeur, nom in moheli %}
            <option value="{{ valeur }}">{{ nom }}</option>
        {% endfor %}
    </optgroup>

    <optgroup label="Anjouan">
        {% for valeur, nom in anjouan %}
            <option value="{{ valeur }}">{{ nom }}</option>
        {% endfor %}
    </optgroup>

    <optgroup label="Mayotte" disabled>
        {% for valeur, nom in mayotte %}
            <option value="{{ valeur }}">{{ nom }}</option>
        {% endfor %}
    </optgroup>

</select>
