
<table class="crud">
    <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Numéro</th>
        <th>Préfecture</th>
        <th></th>
    </tr>

    {% for acte in actes %}
          <tr id="ligne-{{ acte.id }}"> 
        {# <tr> #}
            <td>{{ acte.id }}</td>
            <td>{{ acte.nom }}</td>
            <td>{{ acte.prenom }}</td>
            <td>{{ acte.acte }}</td>
            <td>{{ acte.prefecture }}</td>

            <td>
                <a  class="icon-btn"
                        data-id="{{ acte.ID }}"
                        onclick="confirmerSuppression({{ acte.ID }});">
                        🗑️
                </a>
            </td>
        </tr>
    {% endfor %}
</table>
