{% block javascripts %}
    <script src="{{ asset('js/accueil_commandes_panel.js') }}" defer></script> 
{% endblock %}


<table >
    <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Numéro</th>
        <th>Préfecture</th>
        <th></th>
    </tr>

    {% for acte in actes %}
          <tr id="ligne-{{ acte.id }}"> 
        {# <tr> #}
            <td>{{ acte.id }}</td>
            <td>{{ acte.nom }}</td>
            <td>{{ acte.prenom }}</td>
            <td>{{ acte.acte }}</td>
            <td>{{ acte.prefecture }}</td>

            <td>
            <button class="btn-supprimer" data-id="{{ acte.id }}">
                Supprimer
            </button>



            </td>
        </tr>
    {% endfor %}
</table>
